<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildID</key>
	<string>2B2D197E-37D3-11EF-B33B-B3F672741D5E</string>
	<key>ProductBuildVersion</key>
	<string>11M6270</string>
	<key>ProductCopyright</key>
	<string>1983-2024 Apple Inc.</string>
	<key>ProductName</key>
	<string></string>
	<key>ProductVersion</key>
	<string></string>
	<key>SystemImageID</key>
	<string>804A5D7C-78C7-47FE-B3E1-C9633D0C21C8</string>
</dict>
</plist>
