<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildID</key>
	<string>F48B3370-6430-11F0-B83A-52D7209BA899</string>
	<key>ProductBuildVersion</key>
	<string>13M202404</string>
	<key>ProductCopyright</key>
	<string>1983-2025 Apple Inc.</string>
	<key>ProductName</key>
	<string></string>
	<key>ProductVersion</key>
	<string></string>
	<key>SystemImageID</key>
	<string>230F552C-8BEE-45A8-9B16-6565B12C7AF2</string>
</dict>
</plist>
